/* This file is for your main application css. */
@import "./phoenix.css";


h1.hoge{
    font-size: 10.6rem; 
    line-height: 1.25;
    color: rgb(200,0,0);
}

p.fuga{
    font-size: 49.6rem; 
    line-height: 1.25;
    color: rgb(200,0,0);
}