    <input type="text" style=" margin-top: 111px;font-size: 20px; height: 77px; width: 760px; background: #E5E2E4; border-radius: 20px;" name="name" placeholder="edit name">
    <input type="email" style="margin-top: 54px; font-size: 20px; height: 77px; width: 760px; background: #E5E2E4; border-radius: 20px;" name="email" placeholder="edit email">
    <input type="password" style="margin-top: 54px; font-size: 20px; height: 77px; width: 760px; background-color: #E5E2E4; border-radius: 20px;" name="password" placeholder="edit password">
    <div style="margin-top: 100px;">
        <%= submit "Sign up" %>
    </div>