<div class="wait_view_p">
  <%= if @current_user do %>
    <div>
      <%= link "logined", to: Routes.home_path(@conn, :logined) %>
    </div>
  <% else %>
    <button id="wait_view_button" data-method="get" data-to="<%= Routes.user_path(@conn, :index )%>">
      Sign in with GitHub
    </button>
  <% end %>
</div>
