<p id="wait_view_p">Please Choose to sign in or sign up.</p>
<button id="sign_in_button" style="" onclick="location.href='/signin'">Sign in</button>
<button id="sign_up_button" style="" onclick="location.href='/signup'">Sign up</button>